<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CS322_PZ_V01_BojanPetrovic2745</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand lst" asp-area="" asp-controller="Home" asp-action="Index">CS322_PZ_V01_BojanPetrovic2745</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="nav navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {

                            <li class="lst"><a class="navbar-brand" asp-area="" asp-controller="Patients" asp-action="Index">Pacijenti</a> </li>
                            <li class="lst"><a class="navbar-brand" asp-area="" asp-controller="Kontrolas" asp-action="Index">Kontrole</a></li>
                            <li class="lst"><a class="navbar-brand" asp-area="" asp-controller="Patient_Kontrola" asp-action="Index">Zakazi pregled</a></li>
                            <li class="lst"><a class="navbar-brand" asp-area="" asp-controller="Patients" asp-action="Recovered">Izlecen</a></li>
                            <li class="lst"><a class="navbar-brand" asp-area="" asp-controller="Patients" asp-action="NotRecovered">Nije izlecen</a></li>
                        }

                    </ul>

                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
